In [1]:
my_list=list(range(0,6))

In [2]:
my_list

[0, 1, 2, 3, 4, 5]

In [3]:
for i in my_list:
    print(i)

0
1
2
3
4
5

## Iterators

In [4]:
dir(my_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
value=my_list.__iter__()

In [7]:
element1=value.__next__()
print(element1)

0

In [8]:
element2 =value.__next__()
print(element2)
element3=value.__next__()
print(element3)

1
2

In [9]:
element=next(value)
print(element)

3

In [10]:
element=next(value)
print(element)

4

In [11]:
element=next(value)
print(element)

5

In [13]:
element=next(value)
print(element)  # breaks into a StopIteration error

StopIteration:

In [17]:
new_list=list(range(2,9,2))
iter_new_list=iter(new_list)

while True:
    try:
        element=next(iter_new_list)
        print(element)
    except StopIteration:
        break

2
4
6
8

In [18]:
for i in new_list:
    print(i)

2
4
6
8

In [19]:
# How to build our our own iterators..

In [25]:
class TimesTen:
    def __init__(self, max=0):
        self.n=1
        self.max=max
        
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.n <=self.max:
            result=self.n*10
            self.n+=1
            return result
        else:
            raise StopIteration

In [26]:
numbers=TimesTen(3)

In [27]:
i=iter(numbers)

In [28]:
print(next(i))
print(next(i))
print(next(i))

10
20
30

In [30]:
# print(next(i)) # runs into a StopIteration error

In [31]:
# Use of generators to create iterators..

In [32]:
def my_generator():
    n=1
    print("This is the first print statement in this function...")
    yield n
    
    n=2
    print("This is the second print statement in this function...")
    yield n
    
    n=3
    print("This is the third print statement in this function...")
    yield n

In [33]:
gen1=my_generator()

In [34]:
type(gen1)

generator

In [35]:
next(gen1)

This is the first print statement in this function...

1

In [36]:
next(gen1)

This is the second print statement in this function...

2

In [37]:
next(gen1)

This is the third print statement in this function...

3

In [39]:
# next(gen1) # StopIteration Error

In [40]:
for i in my_generator():
    print(i)

This is the first print statement in this function...
1
This is the second print statement in this function...
2
This is the third print statement in this function...
3

In [41]:
def reverse_string(my_string):
    length=len(my_string)
    for i in range(length-1,-1,-1):
        yield my_string[i]

In [43]:
for i in reverse_string("hello"):
    print(i)

o
l
l
e
h

In [45]:
name=reverse_string('pyhton')

In [46]:
print(name)

<generator object reverse_string at 0x00000281BFBC1690>

In [47]:
list1=list(range(2,11,2))

In [51]:
def reverse(string):
    print(string[::-1]) # Simple reverse function

In [52]:
reverse('hello')

olleh

In [53]:
reverse(list1)

[10, 8, 6, 4, 2]

In [54]:
# Generator Expressions..

In [56]:
list2=[i*2 for i in list1]

In [57]:
list1

[2, 4, 6, 8, 10]

In [58]:
list2

[4, 8, 12, 16, 20]

In [59]:
gen_exp = (i*2 for i in my_list)

In [60]:
gen_exp

In [62]:
print(next(gen_exp))
print(next(gen_exp))
print(next(gen_exp))
print(next(gen_exp))
print(next(gen_exp))

2
4
6
8
10

In [63]:
my_list

[0, 1, 2, 3, 4, 5]

In [64]:
sum(i*2 for i in my_list)

30

In [65]:
max(i*2 for i in my_list)

10

In [66]:
min(i*2 for i in my_list)

0

In [69]:
sum(i*2 for i in my_list)

30

In [70]:
# embarking on the class TimesTen

In [71]:
def TimesTen(max=0):
    n=1
    while n<=max:
        yield n*10
        n +=1

In [72]:
a = TimesTen(3)

In [73]:
for i in a:
    print(i)

10
20
30

In [94]:
def even_numbers():
    n=0
    while True:
        yield n
        n+=2

In [95]:
num=even_numbers()

In [96]:
num

In [97]:
print(next(num))
print(next(num))
print(next(num))
print(next(num))

0
2
4
6

In [87]:
print(next(even_numbers()))

1