In [1]:
# !pip install PyPDF2

In [5]:
import pyPDF2
pdf_file_obj=open("radom.pdf",'rb')
pdfreader=PyPDF.PdffileReader(pdf_file_obj_obj)

# number of pages
for i in range(pdfReader.numPages):
    pageobj=pdfReader.getpage(i)
    p_text=(pageobj.extractText())
    print(p_text)
    print("=======")
    p_lines=p_text.splitlines()
    print(p_lines)
pdf_file_obj.close()

ModuleNotFoundError: No module named 'pyPDF2'

In [7]:
# tabular
import tabula

contents=tabula.read_pdf("random.pdf",pages='all')
contents

ModuleNotFoundError: No module named 'tabula'

In [8]:
# conversion to csv
tabula.convert_into("random.pdf","output_of_random.csv",output_format='csv',
                   pages='all')

NameError: name 'tabula' is not defined

In [9]:
# Writing to pdf files

In [10]:
from fpdf import FPDF
pdf=FPDF()
pdf.add_page()
pdf.set_font("Arial",size=15)
pdf.cell(200,10,txt='Python Bootcamp',ln=1,align="C")

pdf.cell(200,10,txt="I am going to be written toa pdf file using Python ")
pdf.output("create_pdf.pdf")

ModuleNotFoundError: No module named 'fpdf'

In [11]:
# Connecting to a database (MySql)

In [13]:
import mysql.connector
import pandas as pd

ModuleNotFoundError: No module named 'mysql'

In [14]:
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='00000',
database='sakila')

NameError: name 'mysql' is not defined

In [16]:
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM customer")
myresult=mycursor.fetchall()

for x in myresult:
    print(x)

NameError: name 'mydb' is not defined

In [18]:
df=pd.DataFrame(myresult)
col_names=[row[0] for row in mycursor.description]
df.columns=col_names
df.dropna(axis=1,how='all',inplace=True)
df.head(10)

NameError: name 'pd' is not defined

In [19]:
df[df['first_name']=='MARY']

NameError: name 'df' is not defined