In [1]:
# INTRODUCING LOOPS AND THE FizzBuzz game
#divisible by 3=fizz!
#divisible by 5= Buzz!
#divisible by 3 and 5 =FizzBuzz

In [2]:
#introducing for loops

In [3]:
for element in [1,2,3,4,5]:
    print(element)

1
2
3
4
5

In [6]:
numbers=list(range(11))

In [7]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
total=0;
for num in numbers:
    total += num
# This space is very important
print(total)

55

In [11]:
rangeNo=list(range(0,1001,10))

In [12]:
rangeNo

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290,
 300,
 310,
 320,
 330,
 340,
 350,
 360,
 370,
 380,
 390,
 400,
 410,
 420,
 430,
 440,
 450,
 460,
 470,
 480,
 490,
 500,
 510,
 520,
 530,
 540,
 550,
 560,
 570,
 580,
 590,
 600,
 610,
 620,
 630,
 640,
 650,
 660,
 670,
 680,
 690,
 700,
 710,
 720,
 730,
 740,
 750,
 760,
 770,
 780,
 790,
 800,
 810,
 820,
 830,
 840,
 850,
 860,
 870,
 880,
 890,
 900,
 910,
 920,
 930,
 940,
 950,
 960,
 970,
 980,
 990,
 1000]

In [13]:
#introducing for loop and the range function.

In [19]:
tot=0
for num in range(1,11):
    tot +=num

print(tot)

55

In [22]:
hobbies=['sport','music','coding']

In [23]:
for i in hobbies:
    print(" I enjoy "+i)

 I enjoy sport
 I enjoy music
 I enjoy coding

In [57]:
numbers=list(range(0,51))
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [58]:
#Complete implementation of the FuzzBuzz Game

for i in numbers:
    if i==0: #or (i%3>0 and i%5>0):
        print(i)
   # if (i%3 !=0) and (i%5!=0):
       # print(i)
    elif i%3==0 and i%5 !=0:
        print("Fuzz")
    elif i%5==0 and i%3 !=0:
        print("Buzz")
    elif i%5==0 and i%3 ==0:
        print("fuzzBuzz")
    else:
        print(i)

0
1
2
Fuzz
4
Buzz
Fuzz
7
8
Fuzz
Buzz
11
Fuzz
13
14
fuzzBuzz
16
17
Fuzz
19
Buzz
Fuzz
22
23
Fuzz
Buzz
26
Fuzz
28
29
fuzzBuzz
31
32
Fuzz
34
Buzz
Fuzz
37
38
Fuzz
Buzz
41
Fuzz
43
44
fuzzBuzz
46
47
Fuzz
49
Buzz

False

In [60]:
sentence='I love coding with Python'
sentence[::-1] #string reversal

'nohtyP htiw gnidoc evol I'

In [64]:
count=0
for letter in sentence:
    if letter=='o':
        count+=1
        
print("There are " +str(count)+" letter 'o' in the sentence")

There are 3 letter 'o' in the sentence

In [65]:

#FizzBuzz complete implementation using for loops..
#we enable a user to start a starting number and finish number
#The solution must contain for loop

In [77]:
#Dynamic FizzBuzz Game..
start=input("Enter start: ")
stop=input("Enter Stop: ")
for i in range(int(start),int(stop)):
    if i%3==0 and i%5==0 and i!=0:
        print("FizzBuzz")
    elif i%5==0 and i!=0:
        print("Buzz")
    elif i%3==0 and i!=0:
        print("Fizz")
    else:
        print(i)

Enter start: 0
Enter Stop: 101
0
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [78]:
#WHILE LOOPS

In [79]:
hungry=True

In [1]:
i=1
total=0
while i<=10:
    total+=i
    i+=1
    
print(total)

55

In [2]:
hobbies=['sport','dancing','coding','painting','board games','travelling','gym','dancing']

In [3]:
i=0
while i<len(hobbies):
    print(hobbies[i])
    i+=1

sport
dancing
coding
painting
board games
travelling
gym
dancing

In [8]:
if 88.9:
    print('hello')

hello

In [9]:
#FizzBuzz Problems while using While loops...

In [3]:
i=0
stop=16
while i<=stop:
    if i==0:
        print(i)
    elif i%3==0 and i%5==0:
        print("fizzBuzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)
    i+=1

0
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizzBuzz
16

In [4]:

#NESTED LOOPS

In [9]:
for a in['I play ','I watch ','I enjoy ']:
    for b in ['golf','tennis','badminton']:
        print(a+b)
    print("-------")

I play golf
I play tennis
I play badminton
-------
I watch golf
I watch tennis
I watch badminton
-------
I enjoy golf
I enjoy tennis
I enjoy badminton
-------

In [12]:
a=1
b=1
while a<=3:
    print("This is outer loop number {}".format(a))
    while b<=5:
        c=a*b
        print("Inner loop {} calculates {} * {} = {}".format(b,a,b,c))
        b+=1
    a+=1
    b=1
    print("-----------")

This is outer loop number 1
Inner loop 1 calculates 1 * 1 = 1
Inner loop 2 calculates 1 * 2 = 2
Inner loop 3 calculates 1 * 3 = 3
Inner loop 4 calculates 1 * 4 = 4
Inner loop 5 calculates 1 * 5 = 5
-----------
This is outer loop number 2
Inner loop 1 calculates 2 * 1 = 2
Inner loop 2 calculates 2 * 2 = 4
Inner loop 3 calculates 2 * 3 = 6
Inner loop 4 calculates 2 * 4 = 8
Inner loop 5 calculates 2 * 5 = 10
-----------
This is outer loop number 3
Inner loop 1 calculates 3 * 1 = 3
Inner loop 2 calculates 3 * 2 = 6
Inner loop 3 calculates 3 * 3 = 9
Inner loop 4 calculates 3 * 4 = 12
Inner loop 5 calculates 3 * 5 = 15
-----------

In [14]:

#break, continue, and pass keywords..

In [17]:
for num in list(range(0,11)):
    if num==4:
        break
    print(num)

0
1
2
3

In [20]:
for num in range(1,4):
    for letter in 'Kingdom':
        if letter=='d':
            break
        print(letter)
    print("__-------")

K
i
n
g
__-------
K
i
n
g
__-------
K
i
n
g
__-------

In [21]:
lists=[4,5,6,7,'hello','Greek',9]

In [22]:
type(lists)

list

In [23]:
print(lists::-1)

SyntaxError: invalid syntax (2725590430.py, line 1)

In [24]:
lists::-1

SyntaxError: invalid syntax (2552875383.py, line 1)

In [25]:
lists(::-1)

SyntaxError: invalid syntax (1279840065.py, line 1)

In [26]:
lists(::)

SyntaxError: invalid syntax (1706461142.py, line 1)

In [27]:
lists::

SyntaxError: invalid syntax (3227841186.py, line 1)

In [28]:
lists[::]

[4, 5, 6, 7, 'hello', 'Greek', 9]

In [29]:
lists[::-1]

[9, 'Greek', 'hello', 7, 6, 5, 4]

In [30]:
for num in range(1,4):
    for letter in "Kingdom":
        if letter=='d':
            break
            
        print(letter)
    print("--------")

K
i
n
g
--------
K
i
n
g
--------
K
i
n
g
--------

In [32]:
#introducing the continue statement...
for num in list(range(0,11)):
    if num==4:
        continue
    print(num)
print("This is code after the for loop")

0
1
2
3
5
6
7
8
9
10
This is code after the for loop

In [33]:
for letter in 'String':
    if letter=='r':
        continue
    print(letter)
print("This is code after the for loop...successful execution")

S
t
i
n
g
This is code after the for loop...successful execution

In [34]:
for i in list(range(1,6)):
    pass #it does nothing..

In [35]:
# unlike comment, a pass is not ignored..

In [36]:
#creating loops with the else keyword..
#for loops and the else keyword works like if and else

In [37]:
for i in list(range(1,6)):
    print(i)
else:
    print("No more numbers in lists")

1
2
3
4
5
No more numbers in lists

In [41]:
find_item='Appls'
shopping_lists=['Apples','Grapes','Butter','Mustard']

In [44]:
for item in shopping_lists:
    if find_item==item:
        print(item + " is on the shopping lists!")
        break
else:
    print(" YOu don't have this item on the list")

 YOu don't have this item on the list

In [49]:
#Introducing Enumerate fuction
alphabet='abcdefgh'
index_count=0
for letter in alphabet:
    print("index {} is the letter {}".format(index_count,letter))
    index_count +=1

index 0 is the letter a
index 1 is the letter b
index 2 is the letter c
index 3 is the letter d
index 4 is the letter e
index 5 is the letter f
index 6 is the letter g
index 7 is the letter h

In [50]:
for letter in enumerate(alphabet):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')

In [51]:
my_dict={}
for letter in enumerate(alphabet):
    my_dict[letter[0]]=letter[1]

In [52]:
my_dict

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f', 6: 'g', 7: 'h'}

In [54]:
#introducing List Comprehension

In [55]:
#create a listof even numbers form 0 to 0 using a for loop

In [56]:
evens=[]
for x in range(11):
    evens.append(x*2)
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [57]:
#using list..

In [58]:
evens=[(x*2) for x in range(11)]
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [59]:
#excluding numbers divisible by 6

In [60]:
evens=[(x*2) for x in range(11) if x*2%6!=0]

In [61]:
evens

[2, 4, 8, 10, 14, 16, 20]

In [62]:
#dictionary and set comprehension
squares={}
for x in range(6):
    squares[x]=x*x
    
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [65]:
squares={x: x*x for x in range(11)}

In [66]:
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [67]:
even_squares={x:x*x for x in range(11) if x%2==0}
even_squares

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [68]:
my_set={1,2,3,4,5,6,7,8,9,10}
new_set=set()
for x in my_set:
    new_set.add(x*x)
    
print("my set contains {}".format(my_set))
print("new_set contains {}".format(new_set))

my set contains {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
new_set contains {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}