In [1]:
#introducing sets..DSA

In [2]:
# A set is unordered collection of items

In [3]:
#every item is unique

In [4]:
# Every element must be immutable
# A set itself is mutable

In [5]:
# A set can be used to perfom mathematical set Operations..

In [6]:
# creating a set
my_set = {1,2,3,4}

In [7]:
type(my_set)

set

In [8]:
my_set_1={9.2,'hello',(1,2,4,5)}

In [9]:
# Set does not contain duplicates

In [10]:
my_set_2={1,1,2,4,5,6,7,6,4}

In [11]:
my_set_2

{1, 2, 4, 5, 6, 7}

In [12]:
my_set_3=set([1,1,2,2,4,4])

In [13]:
my_set_3

{1, 2, 4}

In [14]:
set_3={1,2,[3,4]} #unhashable list..in puthon

TypeError: unhashable type: 'list'

In [15]:
my_dict={}
type(my_dict)

dict

In [16]:
my_dict=set()
type(my_dict)

set

In [17]:
#modifying a set

In [18]:
my_set={1,2,3}

In [20]:
my_set[0] #we cannot use indexing, we use methods

TypeError: 'set' object is not subscriptable

In [21]:
my_set.add(4)

In [22]:
print(my_set)

{1, 2, 3, 4}

In [23]:
#update methods

In [24]:
my_set.update([6,5,7])
my_set

{1, 2, 3, 4, 5, 6, 7}

In [26]:
my_set.update([8,9],{1,3,33})

In [27]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 33}

In [28]:
# Removing elements from sets

In [29]:
 my_set={1,2,3,4,5}

In [30]:
my_set.discard(5) # 5 is removed

In [31]:
my_set

{1, 2, 3, 4}

In [32]:
my_set.remove(4) # 4 is removed
my_set

{1, 2, 3}

In [33]:
my_set.discard(6) #gives no error

In [34]:
my_set.remove(5) #gives an error

KeyError: 5

In [35]:
#randomness
my_set=set('Python')
my_set

{'P', 'h', 'n', 'o', 't', 'y'}

In [43]:
my_set.pop() #items are deleted in a random way

KeyError: 'pop from an empty set'

In [45]:
 #using clear and del
my_set.clear()

In [46]:
my_set

set()

In [48]:
del my_set

In [50]:
my_set # my_set does not curently exist

NameError: name 'my_set' is not defined

In [51]:
#deleting elements from a tuple
#tuple does not support deletion of specific elements in a tuple but 
#the whole tuple can be deleted by using the del keyword..

In [53]:
#set operations UNION
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [54]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [56]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
#set Intersections '&'

In [58]:
a&b

{4, 5, 6}

In [59]:
a.intersection(b)

{4, 5, 6}

In [60]:
b.intersection(a)

{4, 5, 6}

In [61]:
# Set Difference

In [62]:
a-b #unique values in a

{1, 2, 3}

In [63]:
b-a #unique values in b

{7, 8, 9}

In [64]:
a.difference(b)

{1, 2, 3}

In [65]:
b.difference(a)

{7, 8, 9}

In [66]:
#Symmetric Difference

In [68]:
a^b #only unique values excluding shared values are returned

{1, 2, 3, 7, 8, 9}

In [69]:
a.symmetric_difference(b)

{1, 2, 3, 7, 8, 9}

In [70]:
b.symmetric_difference(a)

{1, 2, 3, 7, 8, 9}

In [71]:
#Built_in Functions in a

In [72]:
a

{1, 2, 3, 4, 5, 6}

In [78]:
a1=a | {5,6,7,8,9}

In [79]:
a1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [80]:
a={1,55,4,6,3,66,8,5,4,8,9,5,4,7}

In [81]:
a

{1, 3, 4, 5, 6, 7, 8, 9, 55, 66}

In [82]:
len(a)

10

In [83]:
max(a)

66

In [84]:
min(a)

1

In [85]:
print(sorted(a))

[1, 3, 4, 5, 6, 7, 8, 9, 55, 66]

In [86]:
sum(a)

164

In [87]:
1 in a

True

In [88]:
55 in a

True

In [89]:
33 in a

False

In [90]:
33 not in a

True

In [91]:
#frozen set--Cannot be changed once assigned

In [92]:
a=set([1,2,3,4,5])

In [99]:
b=set([4,5,6,7,8])
c=frozenset([1,2,3,4,5])
d=frozenset([4,5,6,7,8])

In [100]:
type(a)

set

In [101]:
type(c)

frozenset

In [102]:
my_dict={a: "1 to 5",b: "4 to 8"}

TypeError: unhashable type: 'set'

In [103]:
my_dict={c: "1 to 5",   d: "4 to 8"}

In [104]:
my_dict[c]

'1 to 5'

In [106]:
c.issuperset(a)

True

In [107]:
c.issubset(a)

True

In [108]:
c.issubset(b)

False

In [109]:
c | d

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [110]:
c | b #the starting element is a frozenset type

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [111]:
a | d # the starting element is not a frozenset type

{1, 2, 3, 4, 5, 6, 7, 8}

In [112]:
type(a|d)

set