In [1]:
#introducing tuples in Python..
my_tuple=()
type(my_tuple)

tuple

In [2]:
#creating a tuple---separation element is a ,

In [3]:
my_tuple=(1,2,3,4)

In [4]:
my_tuple

(1, 2, 3, 4)

In [5]:
my_tuple=(1,'hello',2.4,'world')

In [6]:
my_tuple

(1, 'hello', 2.4, 'world')

In [7]:
my_tuple2=('football',[1,2,4],('hello','name'),'Career',1.43)

In [8]:
print(my_tuple2)

('football', [1, 2, 4], ('hello', 'name'), 'Career', 1.43)

In [9]:
#tuple packing
my_tuple_3=1,'spain',[1,2,3]

In [10]:
my_tuple_3

(1, 'spain', [1, 2, 3])

In [11]:
type(my_tuple_3)

tuple

In [12]:
my_tuple_4=("hello") # A comma is missing for tuple recognition...

In [13]:
type(my_tuple_4)

str

In [14]:
my_tuple_4=('hello',)
type(my_tuple_4)

tuple

In [15]:
#Accessing Tuple elements...The same way as in list

In [16]:
my_tuple

(1, 'hello', 2.4, 'world')

In [17]:
my_tuple=(1,2,3,4,5,[6,7,8],9)
my_tuple[4]

5

In [19]:
my_tuple[7] #indexing starts at 0 and ends at 6

IndexError: tuple index out of range

In [20]:
my_tuple[5]

[6, 7, 8]

In [21]:
my_tuple[5][2]

8

In [22]:
#using negative indexing..
my_tuple[-1]

9

In [24]:
my_tuple[-2][-3]

6

In [25]:
my_tuple[0:3]

(1, 2, 3)

In [26]:
my_tuple[:3]

(1, 2, 3)

In [27]:
my_tuple[::-1] #reversing the tuple

(9, [6, 7, 8], 5, 4, 3, 2, 1)

In [28]:
#changing Tuple element
#unlike list, elements of a tuple are immutable, they canot be changed once defined.

In [29]:
my_tuple

(1, 2, 3, 4, 5, [6, 7, 8], 9)

In [36]:
my_tuple[0]='hello' #error Tuple object does not support item assignment..

TypeError: 'tuple' object does not support item assignment

In [35]:
my_tuple[5][2]=55.4 #nested list in a tuple can be altered

In [32]:
my_tuple

(1, 2, 3, 4, 5, [6, 7, 55.4], 9)

In [38]:
my_tuple.append(100) #error

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
my_tuple[5].append(100)

In [40]:
my_tuple

(1, 2, 3, 4, 5, [6, 7, 55.4, 100], 9)

In [41]:
my_tuple=('one','two',3)

In [42]:
my_tuple

('one', 'two', 3)

In [46]:
my_tuple_1 = my_tuple + ('four','five','six')

In [44]:
my_tuple

('one', 'two', 3)

In [47]:
my_tuple_1

('one', 'two', 3, 'four', 'five', 'six')

In [49]:
abc = my_tuple * 3

In [50]:
abc

('one', 'two', 3, 'one', 'two', 3, 'one', 'two', 3)

In [51]:
#Deleting a Tuple

In [52]:
my_tuple

('one', 'two', 3)

In [53]:
my_tuple=(1,2,3,4,5,[6,7,8],9)

In [54]:
my_tuple

(1, 2, 3, 4, 5, [6, 7, 8], 9)

In [56]:
del my_tuple[3] #error...Tuple does not support deletion of elements

TypeError: 'tuple' object doesn't support item deletion

In [57]:
del my_tuple #the whole tuple is deleted

In [58]:
my_tuple #non-existing

NameError: name 'my_tuple' is not defined

In [59]:
#tuple Methods and Operations..

In [60]:
my_tuple=(1,1,1,1,2,3,5,1,1)

In [61]:
my_tuple.count(1)

6

In [62]:
my_tuple.index(3)

5

In [63]:
my_tuple.index(1,4) #search starts from index 4

7

In [64]:
1 in my_tuple

True

In [65]:
1 not in my_tuple

False

In [66]:
#Introducing TUPLE PACKING

In [67]:
    my_tuple=1,2,3,'hello',2.5
    type(my_tuple)
    my_tuple

(1, 2, 3, 'hello', 2.5)

In [68]:
type(my_tuple)

tuple

In [72]:
a,b,c,d,e=my_tuple #no of variables provided must be equal to the number 
#of tuple elements

In [73]:
a

1

In [74]:
b

2

In [75]:
c

3

In [76]:
c

3

In [77]:
d

'hello'

In [78]:
e

2.5

In [79]:
#Tuples vs Lists
my_dict={(1,2,4):'hello'}

In [80]:
my_dict

{(1, 2, 4): 'hello'}

In [82]:
my_dict[(1,2,4)]

'hello'

In [83]:
my_dict{[1,2,4]:'hello'}#results in an error

SyntaxError: invalid syntax (759788121.py, line 1)