In [2]:
# Starting on Strings .....what is a string?
# Conversion of a character to a number is called encoding, otherwise, it is referred to as decoding..

In [3]:
# The most popular encoding used ASCII and Unicode (''), (""), ("' '")

In [4]:
print("hello")

hello

In [5]:
print('''hello''')

hello

In [6]:
type('hello')

str

In [7]:
type("hell")

str

In [8]:
message="hello"
print(message)
type(message)

hello

str

In [10]:
print("hello") #no of quotes have to match lhs==rhs

SyntaxError: unterminated string literal (detected at line 1) (270163551.py, line 1)

In [11]:
print(" I'm having a great time learning Python..")

 I'm having a great time learning Python..

In [12]:
print("Never Give up, Keep going")

Never Give up, Keep going

In [15]:
#introducing the escape character 
print('They \'re over there shouting help! help!" "\'')

They 're over there shouting help! help!" "'

Notice that the \ character(the escape character enables one t print double qoutes whichthe compiler may confuse with synatax

In [16]:
#introducing string indexing
# Indexing enables one to print a single character in the sring
word='hello'

In [17]:
len(word)

5

In [18]:
#obtaining the first chaaracter in the string
#indexing starts at index 0
word[4]

'o'

In [19]:
sentence='I love python'

In [20]:
len(sentence)

13

In [21]:
sentence[12]

'n'

In [22]:
sentence[7]

'p'

In [23]:
#introducing negative indexing 
word[-1]

'o'

In [24]:
word[-5]

'h'

In [25]:
#indexing "hello"
   #     -5,-4,-3,-2,-1, In this case we don't start from 0...

In [28]:
#word[2.0] #only whole numbers can be inserted in the square numbers

In [29]:
#introducing string slicing

word='GoodBye'
word[0]

'G'

In [30]:
word[0:4]

'Good'

In [33]:
word[:4] #here letter in the included index in RHS is not included

'Good'

In [34]:
word[:-3]

'Good'

In [35]:
new_word=word[:4]

In [36]:
new_word

'Good'

In [37]:
word[4:7]

'Bye'

In [38]:
word[4:]

'Bye'

In [39]:
word

'GoodBye'

In [40]:
word[-3:]

'Bye'

In [42]:
word[:]#prints the whole word in the letter

'GoodBye'

In [43]:
word[1:6]

'oodBy'

In [45]:
word[1:6:2] #the third param enables every second letter from the defined length

'ody'

In [46]:
word

'GoodBye'

In [47]:
word[0:6:3] #prints every third letter from the beginning of the word

'Gd'

In [48]:
numbers='123456789'

In [50]:
numbers[1::2] #slicing operation that prints out only the even numbers

'2468'

In [51]:
numbers[1:10:2] #can be replaced by double colons to imply that we run from the start
#starting index all the way to the end

'2468'

In [52]:
#how to reverse a word
numbers[::-1]

'987654321'

In [53]:
word

'GoodBye'

In [54]:
word[::-1] #reverses a string

'eyBdooG'

In [55]:
numbers[::-2] #we print only the odd numbers in reverse order

'97531'

In [56]:
#introducing how to change a string or delete
word

'GoodBye'

In [57]:
word='hello'

In [58]:
word

'hello'

In [59]:
#string cannot be changed/altered when  assigned, but the variable word can be assined another word

In [60]:
word[2]=t

NameError: name 't' is not defined

In [63]:
#to delete a strig we use the del keyword
del word[3]

NameError: name 'word' is not defined

In [65]:
word

NameError: name 'word' is not defined

In [66]:
word

NameError: name 'word' is not defined

In [67]:
del word

NameError: name 'word' is not defined

In [68]:
word

NameError: name 'word' is not defined

In [69]:
word="Hello"

In [70]:
word

'Hello'

In [71]:
del word

In [72]:
word #This is not availabe unless reinitialized again

NameError: name 'word' is not defined

In [73]:
 word #once deleted, it cannot be retrieved unless initialized again

NameError: name 'word' is not defined

In [76]:
#introducing string concatenation
'Hello'+' '+'world'+" people"

'Hello world people'

In [77]:
welcome='welcome to the game'

In [78]:
julie='Julie!'

In [79]:
instructions='You need to collect as many coins as possible'

In [80]:
welcome+julie+instructions

'welcome to the gameJulie!You need to collect as many coins as possible'

In [81]:
print(julie+" "+welcome+" "+instructions)

Julie! welcome to the game You need to collect as many coins as possible

In [83]:
#using the * operator
repeat='hello '*3# repeats word for three times
print(repeat)

hello hello hello

In [84]:
#introducing string membership
'a' in "Hamburger" #this check if a is in the word hamburger

True

In [86]:
'e'not in "chicken" #opposite of the above...checks whether e is not in chicken

False

In [88]:
juice='apple and Strawberry'
'apple' in juice
'apple ' in juice

True

In [89]:
'Apple' in juice

False

In [90]:
'apple ' in juice

True

In [92]:
raffle_ticket='158A'
winner='158A'
winner in raffle_ticket

True

In [94]:
1 in winner #1 is integer hence'1' works

TypeError: 'in <string>' requires string as left operand, not int

In [95]:
'1' in winner

True

In [97]:
#introducing string methods--The different methods we can do in strings/functions/operations

In [98]:
sentence='I LOVE learning Python'

In [99]:
sentence

'I LOVE learning Python'

In [100]:
type(sentence)

str

In [101]:
sentence.capitalize()

'I love learning python'

In [102]:
new_sentence=sentence.capitalize()

In [103]:
new_sentence

'I love learning python'

In [111]:
sentence.count('o')
print("hello stephen")

hello stephen

2

In [110]:
new_sentence.count('o')

2

In [112]:
sentence.count('I',1)

0

In [113]:
sentence.endswith('n')

True

In [115]:
sentence.endswith('N') #strings method are case sensitive

False

In [116]:
sentence.startswith('I')

True

In [117]:
sentence.find('L')

2

In [118]:
sentence.find('x') #returns -1 when the letter is not found

-1

In [120]:
sentence.find(' ',3)

6

In [121]:
sentence

'I LOVE learning Python'

In [122]:
sentence.index('L')

2

In [125]:
sentence.index('z') #z is not found in the sentence

ValueError: substring not found

In [126]:
'10'.isdigit()

True

In [127]:
'10a'.isdigit()

False

In [129]:
sentence.isalpha() #returns false because of spaces in the sentence

False

In [130]:
sentence.lower()

'i love learning python'

In [131]:
sentence.upper()

'I LOVE LEARNING PYTHON'

In [132]:
sentence.replace("python", 'to code')

'I LOVE learning Python'

In [134]:
sentence.replace('Python', 'to code')

'I LOVE learning to code'

In [138]:
"     Hello     ".rstrip()

'     Hello'

In [139]:
"     Hello     ".lstrip()

'Hello     '

In [141]:
"     Hello     ".strip() #removes whitespaces from both sides

'Hello'

In [142]:
"           hello          world   i am happy".strip()#only removes the whitespaces in the end side only not in between the words or letters

'hello          world   i am happy'

In [143]:
'  shark'.rstrip()

'  shark'

In [144]:
sentence.title()

'I Love Learning Python'

In [145]:
sentence.title() #each first letter of the sentence is capitalised...
#jupyter is a beast... of learning python

'I Love Learning Python'

In [146]:
#introducing the format method  in Python strings...

In [147]:
'I like to play{}'.format('golf') #replaces the param in {} with argument passed in the format function

'I like to playgolf'

In [148]:
'I am in a band with {}, {}, and {}'.format("tom","james","kamau")

'I am in a band with tom, james, and kamau'

In [149]:
#altering the position of the replacement of the param...

In [153]:
'I am in a band with {0}, {2}, and {1}'.format("Terry", "ann", "Chege")

'I am in a band with Terry, Chege, and ann'

In [154]:
 'I am in a band with {0}, {2}, and {1}'.format("Terry", "ann", "Chege",'mandy')

'I am in a band with Terry, Chege, and ann'

In [156]:
'I am in a band with {0}, {2}, and {0}'.format("Terry", "ann", "Chege")

'I am in a band with Terry, Chege, and Terry'

In [157]:
'I am in a band with {a}, {b}, and {c}'.format(a="Terry", c="ann", b="Chege")

'I am in a band with Terry, Chege, and ann'