# Reading from CSV Files

In [1]:
import csv
with open('python.csv','r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age', 'fav_hobby']
['ben', '24', 'golf']
['susan', '39', 'tennis']
['mike', '25', 'hiking']
['stephen', '22', 'coding']
['julie', '33', 'swimming']

In [2]:
FILE_PATH='python.csv'

class hobby:
    HAS_HEADERS=True
    NAME_COL=0
    AGE_COL=1
    FAV_HOBBY_COL=2

with open(FILE_PATH,'r') as file:
    reader=csv.reader(file)
    headers=[]
    
    if hobby.HAS_HEADERS:
        headers=next(reader)
        
    for row in reader:
        if row and len(row)>hobby.FAV_HOBBY_COL:
            name=row[hobby.NAME_COL]
            age = int(row[hobby.AGE_COL])
            
            if age>=20 and age<=30:
                print('{} is {} years old'.format(name,age))

ben is 24 years old
mike is 25 years old
stephen is 22 years old

In [3]:
# Writing to csv files

In [4]:
headers=['student_name','age','fav_subject']
rows=[
    ['Harry',20,'Maths'],
    ['Kim',27,'English'],
    ['Dave',36,'Biology']
]

with open('school.csv','w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(headers)
    writer.writerows(rows)

In [5]:
mydict=[
    {'region':'England','name':'Fruit Store', 'sales':1000},
    {'region':'Scotland','name':'Electronics', 'sales':2000},
    {'region':'Ireland','name':'card Store', 'sales':15000},
    {'region':'America','name':'sports store', 'sales':11000},
    {'region':'Kenya','name':'Cereal store', 'sales':55000}
    
]

In [6]:
fields=['region','name','sales']
with open('shop.csv','w',newline='')as file:
    writer=csv.DictWriter(file,fieldnames=fields)
    writer.writeheader()
    writer.writerows(mydict)

In [7]:
# Using PANDAS

In [8]:
import pandas as pd
data=pd.read_csv('shop.csv')

In [9]:
data.head()

     region          name  sales
0   England   Fruit Store   1000
1  Scotland   Electronics   2000
2   Ireland    card Store  15000
3   America  sports store  11000
4     Kenya  Cereal store  55000

In [10]:
data['sales'].sum()

84000

In [11]:
writedata=pd.DataFrame([['James',24],['jane',52]],columns =['name','age'])

In [12]:
writedata.to_csv('people.csv')

In [13]:
writedata=pd.read_csv('people.csv',usecols=['name','age'])

In [14]:
writedata.head()

    name  age
0  James   24
1   jane   52

# Working with PDF Files

In [15]:
#!pip install PyPDF2 # check internet connection...

In [16]:
import PyPDF2

pdf_file_obj=open("random.pdf",'rb')
pdf_reader=PyPDF2.PdfFileReader(pdf_file_obj)
pageobj=pdfReader.getPage(0)

print(pageobj.extractText())
pdf_file_obj.close()

ModuleNotFoundError: No module named 'PyPDF2'